{% extends "base.html"%}

{% block title%}Pagina Teste{% endblock %}
{% block filtro%} {% endblock %}

{% block content %}


<div class="card-body py-5 px-md-5 ">
    <div class="row d-flex justify-content-center ">
        <div class="col-lg-8 border rounded-3 py-4 shadow mx-md-n5 ">
            <div class="container">
                <h2 class="fw-bold mb-5">Cadastrar Camiseta</h2>
                <form class="row g-3" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class=" col-md-6">
                        <label for="id_titulo">Titulo</label>
                        {{ form.titulo }}
                    </div>

                    <div class=" col-md-6">
                        <label for="id_preco">Preço</label>
                        {{ form.preco }}
                    </div>

                    <div class=" col-md-6">
                        <label for="id_cores">Cores</label>
                        {{ form.cores_input }}
                    </div>

                    <div class=" col-md-6">
                        <label for="id_imagens">Imagem da Camiseta</label>
                        {{ form.imagem }}
                    </div>

                    <div class="col-md-6">
                        <label for="id_data_limite_pedidos">Data limite para pedidos</label>
                        {{ form.data_limite_pedidos }}
                    </div>

                    <div class=" col-md-6">
                        <label for="id_data_para_entrega">Data que sera feita a entrega</label>
                        {{ form.data_para_entrega }}
                        
                    </div>

                    <div class=" col-md-6">
                        <label for="id_cursos">Curso</label>
                        {{ form.cursos }}
                    </div>

                    <div class=" col-md-6">
                        <label for="id_turnos">Turno</label>
                        {{ form.turnos }}
                    </div>

                    <div class=" col-md-6">
                        <div class="row">
                            <label for="id_tamanhos" class="form-label">Tamanhos disponiveis:</label>
                            <div>
                                <div class="col-auto">
                                    {% for checkbox in form.tamanhos %}
                                        <div class="form-check">
                                            {{ checkbox.tag }}
                                            <label class="form-check-label" for="{{ checkbox.id_for_label }}">
                                                {{ checkbox.choice_label }}
                                            </label>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class=" col-md-6">
                        <div class="row">
                            <label for="id_estilos" class="form-label">Estilos disponiveis:</label>
                            <div>
                                <div class="col-auto">
                                    {% for checkbox in form.estilos %}
                                        <div class="form-check">
                                            {{ checkbox.tag }}
                                            <label class="form-check-label" for="{{ checkbox.id_for_label }}">
                                                {{ checkbox.choice_label }}
                                            </label>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <a>
                        <button type="submit" class="btn botoes shadow-lg rounded px-3 d-flex justify-content-center">Cadastrar Camiseta</button>
                    </a>
                </form>
            </div>
        </div>
    </div>
</div> 
{% endblock %}