{% extends "base.html"%}
{% load static %}
{% block title%}Cadastro{% endblock %}
{% block filtro%} {% endblock %}

{% block content %}

<div class="card-body py-5 px-md-5 ">

    <div class="row d-flex justify-content-center ">
        <div class="col-lg-8 border rounded-3 py-4 shadow mx-md-n5 ">
            <div class="container">
                <h2 class="fw-bold mb-5">Cadastro</h2>
                <form class="row g-3" method="post">
                    {% csrf_token %}
                    <div class="form-floating col-12">
                        {{ form.username }}
                        <label for="id_nome">Nome</label>
                    </div>
                    <div class="form-floating col-md-6">
                        {{ form.senha }}
                        <label for="id_senha">Senha</label>
                        <input type="checkbox" id="mostrarSenha" onclick="mostrarOcultarSenha()"> Mostrar
                    </div>
                    <div class="form-floating col-md-6">
                        {{ form.confirmacao_senha}}
                        <label for="id_confirmacao_senha">Repita a Senha</label>
                        <input type="checkbox" id="mostrarSenhaRep" onclick="mostrarOcultarSenhaRep()"> Mostrar
                    </div>
                    <div class="form-floating col-md-6">
                        {{ form.email }}
                        <label for="id_email">Email</label>
                    </div>
                    <div class="form-floating col-md-6">
                        {{ form.telefone }}
                        <label for="id_telefone">Telefone</label>
                    </div>
                    <div class="form-floating col-md-6">
                        {{ form.matricula_cpf }}
                        <label for="id_matricula_cpf">Matricula | CPF</label>
                    </div>
                    <div class="form-floating col-md-6">
                        {{ form.cursos_user }}
                        <label for="id_cursos_user" class="form-label">Curso</label>
                    </div>
                    {% if form.errors %}
                        <ul>
                            {% for field, errors in form.errors.items %}
                                <li>{{ field }}: {{ errors|join:", " }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <button class="btn botoes shadow-lg rounded-pill px-3 " type="submit">Realizar Cadastro</button>
                    </button>
                    <div>
                        <a> Já tem uma conta? 
                            <a href="{% url 'login' %}">Faça login</a>
                        </a>  
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
  </div>



<script>  
    // senhas //
    function mostrarOcultarSenha() {
        var id_senha = document.getElementById("id_senha");
        var checkbox = document.getElementById("mostrarSenha");
        if (checkbox.checked) {
            id_senha.type = "text";  
        } else {
            id_senha.type = "password";  
        }
    }
    function mostrarOcultarSenhaRep() {
        var id_confirmacao_senha = document.getElementById("id_confirmacao_senha");
        var checkbox = document.getElementById("mostrarSenhaRep");
        if (checkbox.checked) {
            id_confirmacao_senha.type = "text";  
        } else {
            id_confirmacao_senha.type = "password";  
        }
    }
    
    // senhas //

    // telefone //
    document.getElementById('id_telefone').addEventListener('input', function (e) {
        let telefone = e.target.value;
        
        telefone = telefone.replace(/\D/g, "");
        
        if (telefone.length > 10) {
            telefone = telefone.replace(/^(\d{2})(\d{5})(\d{4}).*/, "($1) $2-$3");
        } else if (telefone.length > 5) {
            telefone = telefone.replace(/^(\d{2})(\d{4})(\d{0,4}).*/, "($1) $2-$3");
        } else if (telefone.length > 2) {
            telefone = telefone.replace(/^(\d{2})(\d{0,5})/, "($1) $2");
        } else if (telefone.length > 0) {
            telefone = telefone.replace(/^(\d{0,2})/, "($1");
        }
        
        e.target.value = telefone;
    });
    // telefone //
</script>
{% endblock %}