{% extends "base.html"%}

{% load static %}
{% load crispy_forms_filters %}

{% block title%}Cadastro{% endblock %}
{% block filtro%} {% endblock %}

{% block content %}

<div class="card-body py-5 px-md-5 ">

    <div class="row d-flex justify-content-center ">
        <div class="col-lg-8 border rounded-3 py-4 shadow mx-md-n5 ">
            <div class="container">
                <h2 class="fw-bold mb-5">Cadastro</h2>
                <form class="row g-3" method="post">
                    {% csrf_token %}
                    <div class=" col-12">
                        <label for="id_username">Nome</label>
                        {{ form.nome }}
                    </div>
                    <div class=" col-md-6">
                        <label for="id_password1">Senha</label>
                        {{ form.password1 }}
                        <input type="checkbox" id="mostrarSenha" onclick="mostrarOcultarSenha()"> Mostrar
                    </div>
                    <div class=" col-md-6">
                        <label for="id_password2">Confirme a senha</label>
                        {{ form.password2 }}
                        <input type="checkbox" id="mostrarSenhaRep" onclick="mostrarOcultarSenhaRep()"> Mostrar
                    </div>
                    <div class=" col-md-6">
                        <label for="id_email">Email</label>
                        {{ form.email }}
                    </div>
                    <div class=" col-md-6">
                        <label for="id_telefone">Telefone</label>
                        {{ form.telefone }}
                    </div>
                    <div class=" col-md-6">
                        <label for="id_matricula_cpf">Matricula ou CPF</label>
                        {{ form.matricula_cpf }}
                    </div>
                    <div class="col-md-6">
                        <label for="id_curso">Selecione o Curso</label>
                        {{ form.curso }}
                        <span>(Caso nao seja de nenhum selecione "Outro")</span>
                    </div>
                    <button class="btn botoes shadow-lg rounded-pill px-3 " type="submit">Realizar Cadastro</button>
                    
                    <div>
                        <a> Já tem uma conta? 
                            <a href="{% url 'login' %}">Faça login</a>
                        </a>  
                    </div>    
                </form>
            </div>
        </div>
    </div>
  </div>

  <script>  
    // senhas //
    function mostrarOcultarSenha() {
        var id_password1 = document.getElementById("id_password1");
        var checkbox = document.getElementById("mostrarSenha");
        if (checkbox.checked) {
            id_password1.type = "text";  
        } else {
            id_password1.type = "password";  
        }
    }
    function mostrarOcultarSenhaRep() {
        var is_password2 = document.getElementById("id_password2");
        var checkbox = document.getElementById("mostrarSenhaRep");
        if (checkbox.checked) {
            id_password2.type = "text";  
        } else {
            id_password2.type = "password";  
        }
    }
    // senhas //
</script>
{% endblock %}