{% extends "base.html"%}

{% block title%}Pagina Teste{% endblock %}
{% block filtro%} {% endblock %}

{% block content %}





    
    <div class=" d-flex justify-content-center " style="padding: 5%">
        <div class="col-lg-8 border rounded-3 shadow mx-md-n5" style="padding-top: 5%; padding-bottom: 5%">
            <div class="d-flex justify-content-center">
                {% if camiseta.imagens %}
                    <img src="{{ camiseta.imagens.url }}" alt="Imagem da camisa {{ camiseta.titulo }}" width="200">
                {% endif %}
            </div>
            
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary-emphasis">Data para Pedidos até {{ camiseta.data_limite_pedidos }}</strong>
                <h3 class="mb-0">{{ camiseta.titulo }}</h3>
                <div class="mb-1 text-body-secondary">Preço: R$ {{ camiseta.preco }}</div>
                <form method="post" class="row g-3">
                    {% csrf_token %}
                    
                    <div class="form-floating col-md-6">
                        <p class="card-text mb-auto" style="padding-bottom: 5%">Nome na estampa: {{ form.nome_estampa }}</p>
                        <p class="card-text mb-auto">Numero na estampa: {{ form.numero_estampa }}</p>
                    </div>
                    <div class="form-floating col-md-6">
                        <p class="card-text mb-auto" style="padding-bottom: 5%">Escolha o estilo da camisa: {{ form.estilo }}</p>
                        <p class="card-text mb-auto">Escolha o tamanho da camisa: {{ form.tamanho}}</p>
                    </div>
                    
                    <a>
                        <button type="submit" class="btn botoes shadow-lg rounded px-3 d-flex justify-content-center">Adicionar ao Carrinho</button>
                    </a>
                </form>
            </div>
            
        </div>
    </div>





    
    

{% endblock %}