{% extends "base.html" %}

{% load static %}
{% load crispy_forms_filters %}

{% block title %}Carrinho{% endblock %}
{% block filtro%} {% endblock %}

{% block content %}
<h1 style="background-color: #E9E2E2; color: black; padding: 10px;">Seu Carrinho</h1>
<ul style="list-style: none; padding: 0;" class="container body-content">
{% if user.is_authenticated %}
    {% if pedidos_com_imagem %}
        {% for item in pedidos_com_imagem %}
        <li style="border: 1px solid #ddd; padding: 10px; margin: 10px 0; display: flex; align-items: center; justify-content: space-between;">
            <div style="display: flex; align-items: center; gap: 20px;">
                {% if item.imagem_principal %}
                <img src="{{ item.imagem_principal.imagem.url }}" alt="Imagem de {{ item.pedido.camiseta.titulo }}" class="thumbnail" style="width: 200px; height: 200px;">
                {% else %}
                <p>Sem imagem disponível</p>
                {% endif %}
                
                <div class="col-md-8 themed-grid-col">
                    <div class="pb-3">
                        <h3><strong>{{ item.pedido.camiseta.titulo }}</strong></h3>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            Nome: {{ item.pedido.nome_estampa }}<br>
                            Número: {{ item.pedido.numero_estampa }}<br>
                            Tamanho: {{ item.pedido.tamanho }}<br>
                        </div>
                        <div class="col-md-6">
                            Estilo: {{ item.pedido.estilo }}<br>
                            Preço: R$ {{ item.pedido.camiseta.preco }}<br>
                            Cor: {{ item.pedido.cor }}<br>
                        </div>
                    </div>
                </div>
            </div>
            <div >
                <li class="p-1"> 
                    <button type="button" class="btn botoes shadow-lg rounded-pill px-3" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        Cancelar pedido
                    </button>
                    
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                
                                <div class="modal-body">
                                    Tem certeza que deseja cancelar este pedido?
                                </div>
                                <div class="modal-footer" >
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
                                    <form method="post" class="">
                                        {% csrf_token %}
                                        <input type="hidden" name="pedido_id" value="{{ item.pedido.id }}">
                                        <button type="submit" name="deletar" class="btn btn-primary">Sim</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                
                <li class="p-1">
                    <button class="btn botoes shadow-lg rounded-pill px-3">
                        <a href="https://wa.me/55{{item.pedido.camiseta.vendedor.telefone}}?text=Olá!%20Gostaria%20de%20Negociar/Pagar%20o%20produto%20com%20ID:%20{{item.pedido.id}}." class="nav-link"><i class="fab fa-whatsapp"></i>Pagar/Negociar</a>
                    </button>
                </li>
                <li class="p-1">
                    <button class="btn botoes shadow-lg rounded-pill px-3"><a href="{% url 'edit_pedido' item.pedido.id %}" class="nav-link">Editar Pedido</a></button>
                </li>
            </div>
        </li>
        {% if not pedido.revisado %}
            <span style="color: red;">Atenção: Produto atualizado. Por favor, revise o pedido.</span>
        {% else %}
            <span>Ok</span>
        {% endif %}
        {% endfor %}
        
    {% else %}
        <h3>Nenhum pedido feito.</h3>
    {% endif %}
{% else %}
    <p>Nenhum pedido feito.</p>
{% endif %}
</ul>

{% endblock %}