{% extends "base.html" %}

{% load static %}
{% load crispy_forms_filters %}

{% block title %}Gerencie Produtos{% endblock %}
{% block filtro%} {% endblock %}

{% block content %}
<div style="background-color: #E9E2E2; color: black; padding: 10px;" class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between">
    <h1>Gerencie seus Produtos</h1>
    <div class="text-end">
        <button type="button" class="btn botoes shadow-lg rounded-pill px-3 "><a href="{% url 'adicionar_pro' %}" class="nav-link">Adicionar Nova Camiseta</a></button>
    </div>
</div>

<ul style="list-style: none; padding: 0;" class="container body-content">
    {% for item in camisetas_com_imagens %}
    <li style="border: 1px solid #ddd; padding: 10px; margin: 10px 0; display: flex; align-items: center; justify-content: space-between;">
        <div style="display: flex; align-items: center; gap: 20px;">
            
            {% if item.imagem_principal %}
                <img src="{{ item.imagem_principal.imagem.url }}" alt="Imagem de {{ item.camiseta.nome }}" class="thumbnail" style="width: 200px ;  height: 200px">
            {% else %}
                <p>Sem imagem disponível</p>
            {% endif %}
            <div class="col-md-8 themed-grid-col">
                <div class="pb-3">
                    <h3><strong>{{ item.camiseta.titulo }}</strong></h3>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        Tamanhos: {{ item.camiseta.tamanhos }}<br>
                        Estilos: {{ item.camiseta.estilos }}<br>
                        Preço: R${{ item.camiseta.preco }}<br>
                    </div>
                </div>
            </div>
        </div>
        <div style="text-align: right;">
            <div class="dropstart ">
                <button class="btn botoes shadow-lg rounded-pill px-3 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Opções
                </button>
                <ul class="dropdown-menu">
                <li class="p-1"><button class="btn botoes shadow-lg rounded-pill px-3"><a href="{% url 'edit_produto' item.camiseta.id%}" class="nav-link">Editar Camiseta</a></button></li>  
                <li class="p-1">
                    <form method="post"  class="pb-3">
                        {% csrf_token %}
                        <input type="hidden" name="camiseta_id" value="{{ item.camiseta.id }}">
                        <button class="btn btn-danger rounded-pill px-3" type="submit" name="deletar">Excluir Camiseta</button>
                    </form></li>
                </ul>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
<div class="pagination justify-content-center align-items-center">
    <span class="step-links">
        {% if camisetas.has_previous %}
            <button type="button" class="btn botoes_paginacao"><a href="?pagina=1" class="nav-link">&laquo; Início</a></button>
            <button type="button" class="btn botoes_paginacao"><a href="?pagina={{ camisetas.previous_page_number }} " class="nav-link">Anterior</a></button>
            
        {% endif %}

        <span class="current">
            Página {{ camisetas.number }} de {{ camisetas.paginator.num_pages }}
        </span>

        {% if camisetas.has_next %}
            <button type="button" class="btn botoes_paginacao"><a href="?pagina={{ camisetas.next_page_number }}" class="nav-link">Próxima</a></button>
            <button type="button" class="btn botoes_paginacao"><a href="?pagina={{ camisetas.paginator.num_pages }}" class="nav-link">Última &raquo;</a></button>
        {% endif %}
    </span>
</div>

{% endblock %}