{% extends "base.html" %}

{% load static %}
{% load crispy_forms_filters %}

{% block title %}Gerencie Produtos{% endblock %}
{% block filtro%} {% endblock %}

{% block content %}
<div style="background-color: #E9E2E2; color: black; padding: 10px;" class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between">
    <h1>Gerencie Pedidos das suas Camisetas</h1>
    <div class="text-end">
        <button type="button" class="btn botoes shadow-lg rounded-pill px-3 "><a href="{% url 'adicionar_pro' %}" class="nav-link">Adicionar Nova Camiseta</a></button>
    </div>
</div>
{% if pedidos %}
    <h2>Pedidos para suas camisetas</h2>
    <table class="table">
        <thead>
            <tr>
                <th>ID do Pedido</th>
                <th>Cliente</th>
                <th>Titulo do Produto</th>
                <th>Data</th>
                <th>Opção de Cor</th>
                <th>Nome na Estampa</th>
                <th>Numero na Estampa</th>
                <th>Tamanho</th>
                <th>Estilo</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for pedido in pedidos %}
                <tr>
                    <td>{{ pedido.id }}</td>
                    <td>{{ pedido.cliente }}</td>
                    <td>{{ pedido.camiseta.titulo }}</td>
                    <td>{{ pedido.data_pedido }}</td>
                    <td>{{ pedido.cor }}</td>
                    <td>{{ pedido.nome_estampa }}</td>
                    <td>{{ pedido.numero_estampa }}</td>
                    <td>{{ pedido.tamanho }}</td>
                    <td>{{ pedido.estilo }}</td>
                    <td>{{ pedido.status }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>Nenhum pedido encontrado para suas camisetas.</p>
{% endif %}


{% endblock %}