{% extends "base.html" %}

{% load static %}
{% load crispy_forms_filters %}
{% load tz %}

{% block title %}IFSHOP{% endblock %}

{% block carrosel %}
    <div id="carouselExampleRide" class="carousel slide   " data-bs-ride="true">
        <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'img/ft1.svg' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="{% static 'img/ft2.svg' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="{% static 'img/ft3.svg' %}" class="d-block w-100" alt="...">
        </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
        </button>
    </div>
{% endblock %}

{% block filtro %}
    <section class="b-example-divider filtros-fundo container my-5">
        <form method="get d-flex">
            <div id="filter_bar" class="row g-1 mx-auto p-0">
                <div class="col-md-5">
                    <div class="container filtros-fundo "></div>
                    {{ form.turnos }}
                </div>
                <div class="col-md-5">
                    <div class="container filtros-fundo "></div>
                    {{ form.cursos }}
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn w-100 botoes shadow-lg rounded-pill px-3">Filtrar</button>
                </div>
            </div>
        </form>
    </section>
{% endblock %}


{% block content %}

{% if camisetas_com_imagens %}
<div class="album py-5">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for item in camisetas_com_imagens %}
                <div class="col">
                    <div class="card shadow-sm">
                        {% if item.imagem_principal %}
                            <img id="fotos_pro" src="{{ item.imagem_principal.imagem.url }}" alt="Imagem de {{ item.camiseta.nome }}" class="img-fluid">
                        {% else %}
                            <img id="fotos_pro" src="{% static 'img/não_tem_imagem.svg' %}"  alt="Imagem de {{ item.camiseta.nome }}" class="img-fluid">
                        {% endif %}
                        <div class="card-body">
                            <h3>{{ item.camiseta.titulo }}</h3>
                            <h6 class="text-body-secondary">Data para fazer o pedido até {{ item.camiseta.data_limite_pedidos }}</h6>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    {% if item.disponivel %}
                                        <a href="{% url 'camiseta' item.camiseta.id %}">
                                            <button type="button" class="btn botoes shadow-lg rounded px-3">Fazer Pedido</button> 
                                        </a>
                                    {% else %}
                                        <button type="button" class="btn btn-secondary" disabled>Indisponível</button>
                                    {% endif %}
                                </div>
                                <p class="text-body-secondary">R$ {{ item.camiseta.preco }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% else %}
    <h3 class= "semcamisacadast">Nenhuma camisa cadastrada.</h3>
{% endif %}
<div class="pagination justify-content-center align-items-center">
    <span class="step-links">
        {% if camisetas_com_imagens.has_previous %}
            <button type="button" class="btn botoes_paginacao"><a href="?pagina=1" class="nav-link">&laquo; Início</a></button>
            <button type="button" class="btn botoes_paginacao"><a href="?pagina={{ camisetas_com_imagens.previous_page_number }} " class="nav-link">Anterior</a></button>
            
        {% endif %}

        <span class="current">
            Página {{ camisetas_com_imagens.number }} de {{ camisetas_com_imagens.paginator.num_pages }}
        </span>
        

        {% if camisetas_com_imagens.has_next %}
            <button type="button" class="btn botoes_paginacao"><a href="?pagina={{ camisetas_com_imagens.next_page_number }}" class="nav-link">Próxima</a></button>
            <button type="button" class="btn botoes_paginacao"><a href="?pagina={{ camisetas_com_imagens.paginator.num_pages }}" class="nav-link">Última &raquo;</a></button>
        {% endif %}
    </span>
</div>
{% endblock %}
<script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
