{% extends "base.html" %}
{% load static %}
{% block title %}IFSHOP{% endblock %}
{%block content%}
<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal text-body-emphasis">Produtos Disponíveis</h1> 
</div>

{% if camisetas %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 ">
        {% for camiseta in camisetas %}
        <div class="col ">
            <div class="card shadow-sm ">
                {% if camiseta.imagem %}
                    <img src="{{ camiseta.imagem.url }}" alt="Imagem de {{ camiseta.titulo }}" style="width: 100%; height: 428px; object-fit: cover;" class="img-thumbnail">
                {% else %}
                    <p>Sem imagem</p>
                {% endif %}
                <div class="card-body ">
                    <h3>{{ camiseta.titulo }}</h3>
                    <h6 class="text-body-secondary paddind-posts">Data Para fazer o pedido até {{ camiseta.data_limite_pedidos }}</h6>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="{% url 'camiseta' camiseta.id %}">
                                <button type="button" class="btn botoes shadow-lg rounded px-3">Fazer Pedido</button> 
                            </a>
                        </div>
                        
                        <p class="text-body-secondary">R$ {{ camiseta.preco }}</p>
                    </div>
                </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% else %}
    <p>Nenhuma camisa cadastrada.</p>
{% endif %}







{% endblock %}