{% extends "base.html" %}

{% load static %}
{% load crispy_forms_filters %}

{% block title %}IFSHOP{% endblock %}

{% block carrosel %}
    <div id="carouselExampleRide" class="carousel slide border-top border-black border-4   " data-bs-ride="true">
        <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'img/2.png' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="{% static 'img/1.png' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="{% static 'img/3.png' %}" class="d-block w-100" alt="...">
        </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
        </button>
    </div>
{% endblock %}
{% block filtro %}
    <section class="b-example-divider filtros-fundo  ">
        <form  method="get">
            <div class="d-flex justify-content-center filtros-fundo pt-3 ">
                <div class="container filtros-fundo justify-content-between"></div>
                    {{ form.turnos }}
                <div class="container filtros-fundo justify-content-end" ></div>
                    {{ form.cursos }}
                <div class="container filtros-fundo justify-content-end" ></div>
            </div>  
            <div class="pricing-header p-3 mx-auto text-center">
            <button type="submit" class="btn botoes shadow-lg rounded-pill px-3">Filtrar</button>
            </div>
        </form>
    </section>
{% endblock %}


{% block content %}

{% if camisetas %}
<div class="album py-5 ">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 ">
        {% for camiseta in camisetas %}
        <div class="col ">
            <div class="card shadow-sm ">
                <img src="{{ camiseta.imagem.url }}" alt="Imagem de {{ camiseta.titulo }}" style="width: 100%; height: 428px; object-fit: cover;" class="img-thumbnail">
                <div class="card-body ">
                    <h3>{{ camiseta.titulo }}</h3>
                    <h6 class="text-body-secondary paddind-posts">Data Para fazer o pedido até {{ camiseta.data_limite_pedidos }}</h6>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="{% url 'camiseta' camiseta.id %}">
                                <button type="button" class="btn botoes shadow-lg rounded px-3">Fazer Pedido</button> 
                            </a>
                        </div>
                        
                        <p class="text-body-secondary">R$ {{ camiseta.preco }}</p>
                    </div>
                </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% else %}
    <p>Nenhuma camisa cadastrada.</p>
{% endif %}

{% endblock %}
<script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>