{% extends "base.html" %}

{% load static %}
{% load crispy_forms_filters %}

{% block title %}Login{% endblock %}
{% block filtro%} {% endblock %}

{%block content%}
<div class="card-body py-5 px-md-5 ">

    <div class="row d-flex justify-content-center ">
        <div class="col-lg-8 border rounded-3 py-4 shadow mx-md-n5 ">
            <div class="container">
                <h2 class="fw-bold mb-5">Login</h2>
                <form class="row g-3" method="post">
                    {% csrf_token %}
                    <div class="col-12 pb-3">
                        {{ form.username|as_crispy_field }}
                    </div>
                    <div class="col-12 pb-3">
                        {{ form.password|as_crispy_field }}
                        <div>
                            <input type="checkbox" id="mostrarSenha" onclick="mostrarOcultarSenha()"> Mostrar Senha
                        </div>
                        <a href="{% url 'password_reset' %}">Esqueci minha senha</a>
                        
                    </div>
                    <button class="btn botoes shadow-lg rounded-pill px-3" type="submit">Realizar Login</button>
                    <div>
                        
                        Não tem conta ainda? 
                        <a href="{% url 'cadastro' %}">Faça seu cadastro</a>
                    </div>   
                </form>
            </div>
        </div>
    </div>
  </div>

<script>
    function mostrarOcultarSenha() {
        const passwordField = document.getElementById("id_password");
        if (passwordField.type === "password") {
            passwordField.type = "text";
        } else {
            passwordField.type = "password";
        }
    }
</script>
{% endblock %}