{% extends "base.html"%}

{% load static %}
{% load crispy_forms_filters %}

{% block title%}Perfil{% endblock %}
{% block filtro%} {% endblock %}

{% block content %}
<div style="background-color: #E9E2E2; color: black; padding: 10px;" class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between">
  <h1 style="background-color: #E9E2E2; color: black; padding: 10px;">Bem-vindo(a), {{ request.user.username }}</h1>
  <div class="text-end">
    <button type="button" class="btn botoes shadow-lg rounded-pill px-3"><a href="{% url 'logout' %}" class="nav-link">Deslogar</a></button>
  </div>
</div>
{% if user.vendedor %}
  <div style=" color: black; padding: 10px;" class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between">
    <h3>Suas Camisetas</h3>
    <div class="text-end">
        <button type="button" class="btn botoes shadow-lg rounded-pill px-3 "><a href="{% url 'gerenciar_pro' %}" class="nav-link">Gerencie suas Camisetas</a></button>
    </div>
  </div>
  {% if camisetas_com_imagens %}
  <div class="album py-5 ">
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 ">
          {% for item in camisetas_com_imagens|slice:":3" %}
          <div class="col-6 ">
            <div class="card" style="width: 18rem;">
              {% if item.imagem_principal %}
                  <img src="{{ item.imagem_principal.imagem.url }}" alt="Imagem de {{ item.camiseta.nome }}" >
              {% else %}
                  <p>Sem imagem disponível</p>
              {% endif %}
              <div class="card-body">
                <h3>{{ item.camiseta.titulo }}</h3>
                <div class="d-flex justify-content-between align-items-center">
                  <p class="text-body-secondary">R$ {{ item.camiseta.preco }}</p>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  {% else %}
      <p>Nenhuma camisa cadastrada.</p>
  {% endif %}
  <div style=" color: black; padding-left: 10px;padding-right: 10px;" class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between">
    <h3>Pedidos das suas Camisetas</h3>
    <div class="text-end">
        <button type="button" class="btn botoes shadow-lg rounded-pill px-3 "><a href="{% url 'gerenciar_pedidos' %}" class="nav-link">Gerencie seus Pedidos</a></button>
    </div>
  </div>
  {% if pedidos %}
    <table class="table">
        <thead>
            <tr>
                <th class="border border-black">ID do Pedido</th>
                <th class="border border-black">Cliente</th>
                <th class="border border-black">Titulo do Produto</th>
                <th class="border border-black">Data</th>
                <th class="border border-black">Opção de Cor</th>
                <th class="border border-black">Nome na Estampa</th>
                <th class="border border-black">Numero na Estampa</th>
                <th class="border border-black">Tamanho</th>
                <th class="border border-black">Estilo</th>
                <th class="border border-black">Status</th>
            </tr>
        </thead>
        <tbody >
            {% for pedido in pedidos|slice:":3" %}
                <tr class="border-end border-start">
                    <td class="border border-black border-top-0 border-bottom-0">{{ pedido.id }}</td>
                    <td class="border border-black border-top-0 border-bottom-0">{{ pedido.cliente }}</td>
                    <td class="border border-black border-top-0 border-bottom-0">{{ pedido.camiseta.titulo }}</td>
                    <td class="border border-black border-top-0 border-bottom-0">{{ pedido.data_pedido }}</td>
                    <td class="border border-black border-top-0 border-bottom-0">{{ pedido.cor }}</td>
                    <td class="border border-black border-top-0 border-bottom-0">{{ pedido.nome_estampa }}</td>
                    <td class="border border-black border-top-0 border-bottom-0">{{ pedido.numero_estampa }}</td>
                    <td class="border border-black border-top-0 border-bottom-0">{{ pedido.tamanho }}</td>
                    <td class="border border-black border-top-0 border-bottom-0">{{ pedido.estilo }}</td>
                    <td class="border border-black border-top-0 border-bottom-0">{{ pedido.status }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
  {% else %}
    <p>Nenhum pedido encontrado para suas camisetas.</p>
  {% endif %}
{% else %}
  <div style=" color: black; padding: 10px;" class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between">
    <h3>Seus Pedidos</h3>
    <div class="text-end">
        <button type="button" class="btn botoes shadow-lg rounded-pill px-3 "><a href="{% url 'carrinho' %}" class="nav-link">Ver Mais Detalhes</a></button>
    </div>
  </div>
  {% if pedidos_com_imagem %}
  <div class="album py-5 ">
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 ">
          {% for item in pedidos_com_imagem|slice:":3" %}
          <div class="col-6 ">
            <div class="card" style="width: 18rem;">
              {% if item.imagem_principal %}
                <img src="{{ item.imagem_principal.imagem.url }}" alt="Imagem de {{ item.pedido.camiseta.titulo }}" class="thumbnail" style="width: 200px; height: 200px;">
              {% else %}
                <p>Sem imagem disponível</p>
              {% endif %}
              <div class="card-body">
                <h3>{{ item.pedido.camiseta.titulo }}</h3>
                <div class="d-flex justify-content-between align-items-center">
                  <p class="text-body-secondary">R$ {{ item.pedido.camiseta.preco }}</p>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  {% else %}
      <p>Nenhuma camisa cadastrada.</p>
  {% endif %}
{% endif %}
{% endblock %}