{% extends "base.html"%}

{% load static %}
{% load crispy_forms_filters %}

{% block title%}Perfil{% endblock %}
{% block filtro%} {% endblock %}

{% block content %}
<div style="background-color: #ffffff; color: black; padding: 0px;" class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between">
  <h1 style=" color: #012145; padding: 15px;">Bem-vindo(a), {{ request.user.username }}</h1>
  
</div>
{% if user.vendedor %}
<div class="row justify-content-end">
  <div style=" color: #012145; padding: 10px;" class="d-flex flex-wrap col-4 align-items-center justify-content-center ">
    <h3 class="texto_perfil">Suas Camisetas</h3>
  </div>
  <div class="text-end col-4">
    <button type="button" class="btn botoes shadow-lg rounded-pill px-3 "><a href="{% url 'gerenciar_pro' %}" class="nav-link">Gerencie suas Camisetas</a></button>
  </div>
</div>

  </div>
  {% if camisetas_com_imagens %}
  <div style="padding-left: 50px;" class="album py-5 ">
      <div class="container">
        <div class="row row-cols-1 ">
          {% for item in camisetas_com_imagens|slice:":4" %}
          <div class="col-3 ">
            <div id="card_perfil" class="card">
              {% if item.imagem_principal %}
                  <img id="fotos_perfil" src="{{ item.imagem_principal.imagem.url }}" alt="Imagem de {{ item.camiseta.nome }}" >
              {% else %}
                <img id="fotos_pro" src="{% static 'img/não_tem_imagem.svg' %}"  alt="Imagem de {{ item.camiseta.nome }}" class="img-fluid">
              {% endif %}
              <div class="card-body">
                <h4>{{ item.camiseta.titulo }}</h4>
                <div class="d-flex justify-content-between align-items-center">
                  <p class="text-body-secondary">R$ {{ item.camiseta.preco }}</p>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  {% else %}
      <p class="container text-center">Nenhuma camisa cadastrada.</p>
  {% endif %}
  <div class="row justify-content-end">
    <div style=" color: #012145; padding: 15px; padding-bottom: 10px;" class="col-4 d-flex flex-wrap align-items-center justify-content-center ">
      <h3>Pedidos das suas Camisetas</h3>
    </div>
    <div class="text-end col-4">
        <button type="button" class="btn botoes shadow-lg rounded-pill px-3 "><a href="{% url 'gerenciar_pedidos' %}" class="nav-link">Gerencie seus Pedidos</a></button>
    </div>
    <div class="text-center" id="notificacao-pedidos" style="display: none; color: red;">Novo pedido!</div>
  </div>
  
    
  {% if pedidos_recebidos %}
    <table style="width:60% ;margin: 0 auto" class="table">
        <thead>
            <tr>
                <th class="border border-black">ID do Pedido</th>
                <th class="border border-black">Cliente</th>
                <th class="border border-black">Titulo do Produto</th>
                <th class="border border-black">Data</th>
                <th class="border border-black">Opção de Cor</th>
                <th class="border border-black">Nome na Estampa</th>
                <th class="border border-black">Numero na Estampa</th>
                <th class="border border-black">Tamanho</th>
                <th class="border border-black">Estilo</th>
                <th class="border border-black">Status</th>
            </tr>
        </thead>
        <tbody >
            {% for pedido in pedidos_recebidos|slice:":3" %}
                <tr class="border- border-start">
                    <td class="border border-black border-top-0 border-bottom-40px">{{ pedido.id }}</td>
                    <td class="border border-black border-top-0 border-bottom-40px">{{ pedido.cliente }}</td>
                    <td class="border border-black border-top-0 border-bottom-40px">{{ pedido.camiseta.titulo }}</td>
                    <td class="border border-black border-top-0 border-bottom-40px">{{ pedido.data_pedido }}</td>
                    <td class="border border-black border-top-0 border-bottom-40px">{{ pedido.cor_escolhida }}</td>
                    <td class="border border-black border-top-0 border-bottom-40px">{{ pedido.nome_estampa }}</td>
                    <td class="border border-black border-top-0 border-bottom-40px">{{ pedido.numero_estampa }}</td>
                    <td class="border border-black border-top-0 border-bottom-40px">{{ pedido.tamanho }}</td>
                    <td class="border border-black border-top-0 border-bottom-40px">{{ pedido.estilo }}</td>
                    <td class="border border-black border-top-0 border-bottom-40px">{{ pedido.status }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
  {% else %}
    <p class="container text-center">Nenhum pedido encontrado para suas camisetas.</p>
  {% endif %}
{% else %}
  <div style="color: #012145; padding: 15px;" class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between">
    <h3>Seus Pedidos</h3>
    <div class="text-end">
        <button type="button" class="btn botoes shadow-lg rounded-pill px-3 "><a href="{% url 'carrinho' %}" class="nav-link">Ver Mais Detalhes</a></button>
    </div>
  </div>
  {% if pedidos_feitos %}
  <div style="padding-left: 50px;" class="album py-5 ">
      <div class="container">
        <div class="row row-cols-1 ">
          {% for pedido in pedidos_feitos|slice:":4" %}
          <div class="col-3 ">
            <div class="card" style="width: 18rem;">
              {% if pedido.imagem_principal %}
                <img src="{{ pedido.imagem_principal.imagem.url }}" alt="Imagem de {{ pedido.pedido.camiseta.titulo }}" class="thumbnail" style="width: 200px; height: 200px;">
              {% else %}
                <p>Sem imagem disponível</p>
              {% endif %}
              <div class="card-body">
                <h3>{{ pedido.pedido.camiseta.titulo }}</h3>
                <div class="d-flex justify-content-between align-items-center">
                  <p class="text-body-secondary">R$ {{ pedido.pedido.camiseta.preco }}</p>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  {% else %}
      <p>Nenhuma camisa cadastrada.</p>
  {% endif %}
{% endif %}
<script>
  function verificarPedidos() {
      fetch("/verificar-pedidos/")
          .then(response => response.json())
          .then(data => {
              let notificacao = document.getElementById("notificacao-pedidos");
              if (data.pedidos_novos > 0) {
                  notificacao.style.display = "block";
                  notificacao.innerText = `Você tem ${data.pedidos_novos} novos pedidos!`;
              } else {
                  notificacao.style.display = "none";
              }
          });
  }
  
  setInterval(verificarPedidos, 5000);  // Verifica a cada 5 segundos
  </script>
{% endblock %}