.custom-header {
  background-color:#012145;
  color: white;
}

.botoes {
  background-color: #134276;
  color: white
}
.filtros-fundo {
  background-color: #E9E2E2;
  color : #134276;
}
.texto-filtro {
  color:#134276
}
.botao-selecionado {
  background-color: #367AC6 !important;
  color: white !important;
}

.botao-login{
  background-color: white;
  color: #134276;
}
.espaco-colorido {
  height: 25px; /* Altura do espaço */
  background-color: #E9E2E2; /* Cor de fundo */
}

.error {
  color: red;
  display: none;
}

div.body-content{
  /** Essa margem vai evitar que o conteudo fique por baixo do rodapé **/
  margin-bottom: 40px;
}

footer.fixar-rodape{
  border-top: 1px solid #333;
  bottom: 0;
  left: 0;
  height: 40px;
  position: fixed;
  width: 100%;
}
