.custom-header {
  background-color:#2671bc;
  color: white;
  border-bottom: 20px solid #FFD468; /** barrinha de baixo do header **/
}

.custom-footer{ /** mudei o nome do footer de custom-header pra custom-footer pq atrapalhou na hora de colocar a barrinha**/
  background-color:#2671bc;
  color: white;
  
}
.botoes {
  background-color: #45afe0;
  color: white;
}
.filtros-fundo {
  background-color: #ffffff;
  color : #134276;
}
.texto-filtro {
  color:#134276
}
.botao-selecionado {
  background-color: #367AC6 !important;
  color: white !important;
}

.botao-login{
  background-color: white;
  color: #134276;
}
.espaco-colorido {
  height: 25px; /* Altura do espaço */
  background-color: #E9E2E2; /* Cor de fundo */
}

.error {
  color: red;
  display: none;
}

.filtros-col {
  width: 100%; /* Make the columns take full width */
  max-width: 300px; /* Set a maximum width for the filters */
}

.filtros-col select {
  width: 100%; /* Make the select elements take full width */
}

div.body-content{
  /** Essa margem vai evitar que o conteudo fique por baixo do rodapé **/
  margin-bottom: 40px;
}

footer.fixar-rodape{
  border-top: 1px solid #333;
  bottom: 0;
  left: 0;
  height: 40px;
  position: fixed;
  width: 100%;
}

.titulo-pagina {
  background-color: gray;
  color: black;
  padding: 10px;
}

#texto_pra_arrumar{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.row.justify-content-center {
  margin-top: 50px;
}

.carousel-inner{  /**Alterrei o tamanho do carrosel aqui ó (helloar) -->**/
  max-height: 500px;
} 

#filter_bar{
  padding-left: 11%;
}
#fotos_pro{
  max-width: 419px;
  max-height: 419px;
  
}